{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "transform-flow-strip-types",
        ["module-resolver", {
          "root": ["./"]
        }]
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "transform-flow-strip-types",
        ["module-resolver", {
          "root": ["./"]
        }]
      ]
    },
    "test": {
      "presets": [["next/babel", "es2015", { "preset-env": { "modules": "commonjs" } }]],
      "plugins": [
        "transform-flow-strip-types",
        ["module-resolver", {
          "root": ["./"]
        }]
      ]
    }
  }
}